@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Roboto:wght@400;700;900&display=swap');
body{
    background-color:white;
    padding:0%;
    margin:0%;
}
.container{
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}
header{
    background-color: #1b4b54;
    color: white;
    padding: 10px 0;
}
header nav{
    float:right;
    margin-top: 10px;
}
header ul{
    margin: 0;
    padding:0;
}
header li{
    display: inline;
    padding: 0 20px;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}
header a{
    color: white;
    text-decoration: none;
}
header a:hover{
    color: gold;
}
#caption{
    float:left;
}
#caption h1{
    margin 0;
}
header .logo-gold{
    color:gold
}
#hero{
    min-height: 500px;
    background-image: url(bg-img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#hero h4{
    font-size: 25px;
    margin-top: 160px;
    margin-bottom: 0%;
    text-align: center;
}
#hero h1{
    font-size: 75px;
    margin-top: 0;
    margin-bottom: 5px; 
    text-align: center;
    color: gold;
    font-family: 'Dancing Script', cursive;
}
#hero button{
    font-size: 19px;
    background-color: white;
    padding: 10px 20px;
    font-weight: bold;
    border:1px black;
    color:#1b4b54;
    display: flex;
    align-items: center;
    margin: auto;
}
#hero button:hover{
    background-color: #1b4b54;
    color: white;
    border: 1px gold;
}
#seperate{
    padding: 5px;
    background-color: #1b4b54;
}
#about{
    padding: 120px 0;
    background-color: white;
}
#about h2{
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    color: #1b4b54;
}
.about-box1{
    width:20%;
    float:left;
    padding: 10px;
}
.about-box1 img{
    display:block;
    margin:auto;
}
.about-box2{
    width: 60%;
    float: right;
    padding: 10px;
    text-align: justify;
}
#about button{
    font-size: 15px;
    background-color: white;
    border: 1px #1b4b54;
    color: #1b4b54;
    padding: 8px 20px;
}
#about button:hover{
    background-color: #aae5f0;
    color: white;
    border: white;
}
#Skills{
    background-color: #9fbdc3;
    padding: 90px 0;
}
.box{
    width: 20%;
    float: left;
    text-align: center;
    padding:40px
}
.card {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    height: 300px;
    margin: 1rem;
    position: relative;
  }
.card-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
.card-1:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
#Skills h2{
    color: #1b4b54;
    font-size: 40px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
  }
#Skills h1{
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
    font-weight: bolder;
}
#Skills p{
    font-size: 14px;
    color: grey;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
}
#forms h4{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: bold;
    color: #1b4b54;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
#forms{
    margin: 5% 25%;
    padding: 70px;
    background-color: white;
    text-align: center;
}
#forms .form-group{
    font-size: 20px;
    color: #1b4b54;
    font-weight: bold;
}
input{
    width: 250px;
    padding: 5px;
    margin:2px 0;
}
#forms .button{
    font-size: 15px;
    font-weight: bold;
    color: white;
    background-color: #1b4b54;
    border: 1px #1b4b54;
}
#forms .button:hover{
    color: #1b4b54;
    background-color: white;
}
footer{
    padding: 10px;
    color: #1b4b54;
    background-color: white;
    text-align: center;
}